/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*body {*/
/*    !*display: flex;*!*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
/*}*/

.container_wrap {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.welcome-bg {
    background-image: url('/images/NASA-james-webb.jpg');
    background-size: cover;
}

.welcome-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome-container h1 {
    font-size: 48px;
    color: #333;
    animation: fadeIn 2s ease-in-out;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
